/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.box{
    width: 504px;
    background-image: url(logo.gif);/*背景圖片會蓋在最上面*/
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;向右複製圖片*/
    background-position: right bottom;
    /*background-position: 30px(90%) 30px(20%);*/
    background-color: #009872;
    /*background: url(logo.gif) no-repeat right bottom #009872;簡寫*/
}
.box h2{
    color: aliceblue;
    font-size: 36px;
    text-align: center;/*文字置中*/
    padding-top: 20px;
}
.box2{
    width: 504px;
    height: 150px;
    background: linear-gradient(pink,#00977e);
    /*background: linear-gradient(#00644b,#00977e);*/
    /*background: -webkit-linear-gradient(left,#00644b,#00977e);*/
}
.box3{
    width: 200px;
    height: 200px;
    background: pink;
    -webkit-box-shadow: 1px 10px 10px gray;/*x軸 y軸 柔焦 顏色*/
}