/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 3006px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.header{
    padding-left:360px ;
    border-bottom: 2px solid black;
}
.header h1{
    margin-top: 40px;
    font-size: 80px;
    margin-bottom: 24px;
}
.content{
    padding-left:360px ;
}
.content img{
    padding-top:48px ;
    padding-bottom: 48px;
    width: 324px;
    height: 324px;
}
.style1{
    padding-bottom: 64px;
}
.style1 p{
    padding-bottom: 24px;
}
.box{
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.box2{
    display: flex;
    justify-content:center;
    border-bottom: 2px solid;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.box h2{
    font-size: 32px; 
}

.box2 h2{
    font-size: 32px;
}
.box h3{
    font-size: 24px;
    color: #A00404;  
}

.style2{
    
    background: #415165;
    color: #fff;
    margin-bottom: 64px;
}
.style2 h2{
    font-size: 32px;
}
.style2 h3{
    color: #fff;
    font-size: 24px;
}
.box3{
    display: flex;
    
    border-left:1px solid #fff ;
}






.footer{
    padding-left:360px ;
}